<h1 class="title has-text-centered">{{ title }}</h1>
<form action="">
  <div class="field">
    <label for="firstname" class="label">Firstname :</label>
    <input type="text" class="input" id="firstname" placeholder="Elon">
  </div>
  <div class="field">
    <label for="lastname" class="label">Lastname :</label>
    <input type="text" class="input" id="lastname" placeholder="Musk">
  </div>
  <div class="field">
    <label for="age" class="label">Age :</label>
    <input type="number" class="input" id="age" placeholder="45">
  </div>
  <div class="field">
    <label for="email" class="label">Email :</label>
    <input type="email" class="input" id="email" placeholder="elon.musk@gmail.com">
  </div>
  <div class="field">
    <label for="phone" class="label">Phone number :</label>
    <input type="text" class="input" id="phone" placeholder="00 00 00 00 00">
  </div>
  <div class="field is-grouped">
    <button class="button is-dark">Register</button>
    <a href="/login" class="button is-text">Login</a>
  </div>

</form>
