<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <title>{{title}}</title>
  </head>
  <body>
    <section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
          {{{body}}}
        </div>
      </div>
    </section>
    <script src="javascripts/exercices.js"></script>
    <script defer src="/javascripts/jquery.min.js" type="text/javascript"></script>
  </body>
</html>
