<h1 class="title has-text-centered">{{ title }}</h1>
<form action="">
  <div class="field">
    <label for="email" class="label">Email :</label>
    <input type="email" id="email" class="input" placeholder="elon.musk@gmail.com">
  </div>
  <button class="button is-success">Login</button>
</form>